html body {
    width: auto;
    height: 100%;
    background-color: rgba(177, 224, 164, 0.61);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

li {
    margin: 15px;
    text-align: left;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-shadow: 5px 5px 5px rgb(0, 82, 136);
}
